
body{
    margin:0;
    font-family: 'Roboto';
}
header{
    display:flex;
    background-color:#1f2937 ;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 60px;
}
    /*Header Nav*/
.header__logo{
    font-size: 24px;
    color:#f9faf8
}
.header__nav{
    display: flex;
    align-items: center;
}
.nav__logo--container{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: flex-start;
}
.nav__list{
    padding: 0;
    display: flex;
    gap:20px;
    flex-grow: 1;
    justify-content: center;
    
}
.nav__item{
    list-style: none;
}
.nav__link,.header__text{
    color:#e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

    /*Header Main */
.header__main--container{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 400px;
    box-sizing: border-box;
    padding-left: 60px;
}
.header__text--container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    width: 400px;
    justify-content: flex-end;
    
}
.header__image--container{
    width: 450px;
    height: 35vh;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: #ccc;
    
}
h1{
    font-size: 48px;
    color:#f9faf8;
    margin-bottom: 0;
}
.header__button{
    background-color:#3882f6;
    padding: 8px;
    width:105px;
    text-align:center;
    border-radius: 8px;
    color:#efefef;
    font-size: 17px;
    font-weight: bold;
}
.header__text{
    text-align: start;
    margin-top:0
}

.header__img{
    width: 290px;
    object-fit: cover;
    align-self:center;
}

    /*MAIN*/

main{
    padding-bottom: 100px;
}
h2{
    font-size: 36px;
    color:#1f2937;
    font-weight: 900;
    text-align: center;
}
.main__container--box{
    display: flex;
    gap:50px;
    justify-content: center;
}
.main__box{
    width: 150px;
    height: 150px;
    border:4px solid #49d;
    border-radius: 15px;
}
.main__container--text{
    display: flex;
    justify-content: center;
    gap:60px
}
.main__text{
    width: 150px;
    text-wrap: pretty;
    text-align: center;
    font-size: 18px;
    color:#6b7280
}

    /*SECTION-QUOTE*/
.section1{
    background-color: #ccc;
    height: auto;
}
.section1__container{
    width: 57%;
    margin: auto;
    padding: 55px;
    padding-top: 140px;
}
.section1__quote{
    font-size: 36px;
    font-style:  italic;
    color:#1f2937;
    margin-bottom: 0;
}
.section1__quote--author{
    text-align: end;
    font-weight: bolder;
    font-size: 22px;
    margin-top: 0;
}
    /*Section Sign up*/

.section2{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.section2__container{
    display: flex;
    background-color: #3882f6;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    gap:10px;
    

}
.section2__container-text{
    display: flex;
    flex-direction: column;
}
.section2__title{
    margin-bottom: 0;
    color:#fff;
    font-weight: bold;
    font-size: 25px;
}
.section2__text{
    margin-top: 0;
    color:#e5e7eb;
    font-size: 18px;
}
.section2__button{
    padding: 7px 30px;
    background-color: transparent;
    border:2px solid #fff;
    border-radius: 8px;
    color:#fff;
    font-size: 17px;
    font-weight: bolder;
}

